In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/home/nampro/.local/lib/python3.6/site-packages/matplotlib/__init__.py:886: MatplotlibDeprecationWarning:
examples.directory is deprecated; in the future, examples will be found relative to the 'datapath' directory.
  "found relative to the 'datapath' directory.".format(key))

In [84]:
#Preprocessing Data
data_raw = pd.read_csv('convertcsv.csv')
data_raw.isnull().any().sum()

4

In [85]:
data_raw

,device_id,humidity,light,raw,temperature,time
0,device_001,54.0,64.17,NTQtMjctNjQuMTc=,27.0,2019-06-01T07:24:39.80755401Z
1,device_001,55.0,64.17,NTUtMjctNjQuMTc=,27.0,2019-06-01T07:24:54.665776057Z
2,device_001,55.0,63.33,NTUtMjctNjMuMzM=,27.0,2019-06-01T07:25:10.006835455Z
3,device_001,55.0,63.33,NTUtMjctNjMuMzM=,27.0,2019-06-01T07:25:24.85593776Z
4,device_001,55.0,63.33,NTUtMjctNjMuMzM=,27.0,2019-06-01T07:25:39.706662173Z
5,device_001,54.0,70.00,NTQtMjctNzAuMDA=,27.0,2019-06-01T07:25:55.056348911Z
6,device_001,54.0,70.00,NTQtMjctNzAuMDA=,27.0,2019-06-01T07:26:09.906919022Z
7,device_001,54.0,68.33,NTQtMjctNjguMzM=,27.0,2019-06-01T07:26:24.762437657Z
8,device_001,53.0,68.33,NTMtMjctNjguMzM=,27.0,2019-06-01T07:26:40.10898888Z
9,device_001,54.0,45.00,NTQtMjctNDUuMDA=,27.0,2019-06-01T07:26:54.955961375Z
10,device_001,54.0,56.67,NTQtMjctNTYuNjc=,27.0,2019-06-01T07:27:09.806469687Z
11,device_001,53.0,63.33,NTMtMjctNjMuMzM=,27.0,2019-06-01T07:27:24.657117299Z
12,device_001,53.0,59.17,NTMtMjctNTkuMTc=,27.0,2019-06-01T07:27:40.009234548Z
13,device_001,54.0,97.50,NTQtMjctOTcuNTA=,27.0,2019-06-01T07:27:54.856018042Z
14,device_001,NaN,NaN,NaN,NaN,2019-06-01T07:28:09.712559082Z
15,device_001,55.0,98.33,NTUtMjctOTguMzM=,27.0,2019-06-01T07:28:25.056504193Z
16,device_001,56.0,58.33,NTYtMjctNTguMzM=,27.0,2019-06-01T07:28:39.906146701Z
17,device_001,57.0,60.83,NTctMjctNjAuODM=,27.0,2019-06-01T07:28:54.76261414Z
18,device_001,57.0,58.33,NTctMjctNTguMzM=,27.0,2019-06-01T07:29:10.111184873Z
19,device_001,57.0,56.67,NTctMjctNTYuNjc=,27.0,2019-06-01T07:29:24.955983658Z
20,device_001,58.0,55.83,NTgtMjctNTUuODM=,27.0,2019-06-01T07:29:39.839530523Z
21,device_001,59.0,58.33,NTktMjctNTguMzM=,27.0,2019-06-01T07:29:55.156553009Z
22,device_001,62.0,56.67,NjItMjctNTYuNjc=,27.0,2019-06-01T07:30:10.00695382Z
23,device_001,58.0,50.83,NTgtMjctNTAuODM=,27.0,2019-06-01T07:30:24.856147825Z
24,device_001,59.0,55.00,NTktMjgtNTUuMDA=,28.0,2019-06-01T07:30:39.708764046Z
25,device_001,59.0,48.33,NTktMjgtNDguMzM=,28.0,2019-06-01T07:30:55.056352774Z
26,device_001,59.0,42.50,NTktMjgtNDIuNTA=,28.0,2019-06-01T07:31:09.906237083Z
27,device_001,60.0,42.50,NjAtMjgtNDIuNTA=,28.0,2019-06-01T07:31:24.755629489Z
28,device_001,59.0,60.83,NTktMjctNjAuODM=,27.0,2019-06-01T07:31:40.10581373Z
29,device_001,61.0,45.00,NjEtMjgtNDUuMDA=,28.0,2019-06-01T07:31:54.96249127Z
...,...,...,...,...,...,...
3791,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:04:48.15412783Z
3792,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:05:03.009734897Z
3793,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:05:18.366874406Z
3794,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:05:33.221373568Z
3795,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:05:48.077193536Z
3796,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:06:03.432764438Z
3797,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:06:33.30826424Z
3798,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:07:18.174824141Z
3799,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:07:33.030282007Z
3800,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:07:48.388682222Z
3801,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:08:03.266815594Z
3802,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:08:18.119393947Z
3803,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:08:48.342763773Z
3804,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:09:18.201524597Z
3805,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:09:48.062590731Z
3806,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:10:03.418240133Z
3807,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:10:33.283607887Z
3808,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:10:48.139219854Z
3809,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:11:03.498752774Z
3810,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:11:18.354700643Z
3811,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:11:33.220053456Z
3812,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:12:03.082416696Z
3813,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:12:18.437979098Z
3814,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:12:33.291973057Z
3815,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:12:48.147956126Z
3816,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:13:18.511069404Z
3817,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:13:48.38246333Z
3818,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:14:03.253112849Z
3819,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:14:18.115340328Z
3820,device_001,NaN,NaN,NaN,NaN,2019-06-02T02:14:33.463299079Z

In [86]:
# data_raw.drop(columns="device_id")
data_raw = data_raw.drop(["device_id", "raw"], axis=1)
data_raw.shape

(3821, 4)

In [87]:
# data_raw.dropna(how='any')
data_raw = data_raw[np.isfinite(data_raw['temperature'])]
# data_raw.head(4)

In [88]:
data_raw.tail(3)

      humidity  light  temperature                            time
3348      54.0  95.83         29.0   2019-06-01T23:51:01.29053287Z
3349      54.0  96.67         29.0  2019-06-01T23:51:31.153185258Z
3350      54.0  99.17         29.0  2019-06-01T23:51:46.509910637Z

In [89]:
data_raw.shape

(3336, 4)

In [3]:
data_raw.to_csv("output_filename.csv", index=False, encoding='utf8')

NameError: name 'data_raw' is not defined

In [5]:
df = pd.read_csv('good_data.csv')
# df = df.drop(columns='time', axis=1)

In [6]:
df

      humidity  light  temperature  has_human
0           54  64.17           27          1
1           55  64.17           27          1
2           55  63.33           27          1
3           55  63.33           27          1
4           55  63.33           27          1
5           54  70.00           27          1
6           54  70.00           27          1
7           54  68.33           27          1
8           53  68.33           27          1
9           54  45.00           27          1
10          54  56.67           27          1
11          53  63.33           27          1
12          53  59.17           27          1
13          54  97.50           27          1
14          55  98.33           27          1
15          56  58.33           27          1
16          57  60.83           27          1
17          57  58.33           27          1
18          57  56.67           27          1
19          58  55.83           27          1
20          59  58.33           27          1
21          62  56.67           27          1
22          58  50.83           27          1
23          59  55.00           28          1
24          59  48.33           28          1
25          59  42.50           28          1
26          60  42.50           28          1
27          59  60.83           27          1
28          61  45.00           28          1
29          66  32.50           28          1
...        ...    ...          ...        ...
3306        54  85.83           29          0
3307        54  85.83           29          0
3308        54  86.67           29          0
3309        54  86.67           29          0
3310        54  86.67           29          0
3311        54  86.67           29          0
3312        54  86.67           29          0
3313        54  86.67           29          0
3314        54  89.17           29          0
3315        54  90.00           29          0
3316        54  90.00           29          0
3317        54  89.17           29          0
3318        54  89.17           29          0
3319        54  90.00           29          0
3320        54  93.33           29          0
3321        54  94.17           29          0
3322        54  94.17           29          0
3323        54  94.17           29          0
3324        54  93.33           29          0
3325        54  94.17           29          0
3326        54  96.67           29          0
3327        54  97.50           29          0
3328        54  98.33           29          0
3329        54  98.33           29          0
3330        54  98.33           29          0
3331        54  98.33           29          0
3332        54  98.33           29          0
3333        54  95.83           29          0
3334        54  96.67           29          0
3335        54  99.17           29          0

[3336 rows x 4 columns]

In [7]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [8]:
values = df.values
X, y = values[:, :-1], values[:, -1]
# split the dataset
trainX, testX, trainy, testy = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=1)

In [6]:
trainy

array([0., 0., 0., ..., 0., 1., 0.])

In [7]:
# make a naive prediction
def naive_prediction(testX, value):
	return [value for x in range(len(testX))]
for value in [0, 1]:
	# forecast
	yhat = naive_prediction(testX, value)
	# evaluate
	score = accuracy_score(testy, yhat)
	# summarize
	print('Naive=%d score=%.3f' % (value, score))

Naive=0 score=0.670
Naive=1 score=0.330

In [9]:
# Logistic regression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
# split data into inputs and outputs
X, y = values[:, :-1], values[:, -1]
# split the dataset
trainX, testX, trainy, testy = train_test_split(X, y, test_size=0.3, shuffle=False, random_state=1)
# define the model
model = LogisticRegression()
# fit the model on the training set
model.fit(trainX, trainy)
# predict the test set
yhat = model.predict(testX)
# evaluate model skill
score = accuracy_score(testy, yhat)
print(score)

0.8471528471528471

In [10]:
import pickle
pickle.dump(model, open('model_logistic.sav', 'wb'))
# load the model from disk
loaded_model = pickle.load(open('model_logistic.sav', 'rb'))
result = loaded_model.score(testX, testy)
print(result)

0.8471528471528471

In [13]:
value = [[54,60,27]]

In [14]:
y = loaded_model.predict(value)
print(y)

[1.]

In [15]:
import pickle
loaded_model = pickle.load(open('model_logistic.sav', 'rb'))
def predict_value(X_value):
    y_value = loaded_model.predict(X_value)
    return y_value

a = predict_value(value)
print(a)

[1.]

In [108]:
from sklearn.metrics import f1_score
f1_score(testy,yhat, average='macro')

/home/nampro/.local/lib/python3.6/site-packages/sklearn/metrics/classification.py:1137: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

0.4586262844780963

In [109]:
f1_score(testy,yhat, average='micro')

0.847152847152847

In [110]:
f1_score(testy,yhat, average=None)

/home/nampro/.local/lib/python3.6/site-packages/sklearn/metrics/classification.py:1137: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

array([0.91725257, 0.        ])

In [115]:
# from sklearn.cluster import KMeans
# y_pred = KMeans(n_clusters=2, random_state=0).fit_predict(trainX)
# plt.subplot(221)
# plt.scatter(trainX[:, 0], trainX[:, 1], c=y_pred)